
#main h1
{
  text-align: center;
 color:black;
 font-style: oblique; 
}
#sect1
{
  text-align: center;
}
#img1
{
  height: 550px;
  width: 700px;
}
#main
{
  background-color: blanchedalmond;
}
#content
{
  color:black;
  font-style: oblique;
  font-size: 20px;
}
#recipes
{
  border:white;
}
#pot
{
  text-align: center;
}
#irish 
{
background-color: tan;
padding: 10px;
}
#irish h1, h3
{
  font-style: oblique;
}
#pasta
{
  text-align: center;
}
#sauce
{
  background-color:silver
}
#sauce h1
{
  font-style: oblique;
}
#hazel
{
  text-align: center;
}
#macaron
{
  background-color:bisque;
}
#macaron h1, h3
{
  font-style:oblique;
}
#oats
{
  text-align: center;
}
#roll
{
  background-color: lightyellow;
}
#roll h1
{
  font-style: oblique;
}