
#main h1
{
  text-align: center;
 color:black;
 padding: 8px;
 background-color: 
}
#sect1
{
  text-align: center;
}
#img1
{
  height: 600px;
  width: 700px;
}
#main
{
  background-color: blanchedalmond;
}